Options -MultiViews
RewriteEngine On

RewriteRule ^includes/ - [F,L]
RewriteRule ^sql/ - [F,L]
RewriteRule ^backoffice/includes/ - [F,L]
RewriteRule ^\.env$ - [F,L]
RewriteRule ^config\.php$ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^shop$ shop.php [L,QSA]
RewriteRule ^cart$ cart.php [L,QSA]
RewriteRule ^checkout$ checkout.php [L,QSA]
RewriteRule ^wishlist$ wishlist.php [L,QSA]
RewriteRule ^profile$ profile.php [L,QSA]
RewriteRule ^login$ login.php [L,QSA]
RewriteRule ^register$ register.php [L,QSA]
RewriteRule ^contact$ contact.php [L,QSA]
RewriteRule ^about$ about.php [L,QSA]
RewriteRule ^news$ news.php [L,QSA]

RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^robots\.txt$ robots.txt [L]

RewriteRule ^product/([^/]+)$ detail.php?slug=$1 [L,QSA]
RewriteRule ^news/([^/]+)$ news-detail.php?slug=$1 [L,QSA]

ErrorDocument 404 /PI/06-DanielSilva-Site13-FinalProject/index.php
