-- Add stock to product variants
ALTER TABLE product_variants
ADD COLUMN stock INT NOT NULL DEFAULT 0;

UPDATE product_variants
SET
    stock = 10;

-- Initialize existing variants with some stock
-- Stock error translations
INSERT INTO
    traduz (code, lang_code, text)
VALUES
    (
        'error.out_of_stock',
        'pt',
        'Desculpe, não temos stock suficiente para este produto.'
    ),
    (
        'error.out_of_stock',
        'gb',
        'Sorry, we do not have enough stock for this product.'
    ),
    (
        'error.out_of_stock_max',
        'pt',
        'Stock insuficiente. O máximo disponível é: '
    ),
    (
        'error.out_of_stock_max',
        'gb',
        'Insufficient stock. The maximum available is: '
    ) ON DUPLICATE KEY
UPDATE text =
VALUES
    (text);

-- Profile Header Translations
INSERT INTO
    traduz (lang_code, code, text)
VALUES
    ('gb', 'header.nav.profile', 'My Profile'),
    ('pt', 'header.nav.profile', 'O Meu Perfil'),
    ('gb', 'header.nav.orders', 'My Orders'),
    ('pt', 'header.nav.orders', 'As Minhas Encomendas'),
    ('gb', 'header.nav.wishlist', 'Wishlist'),
    ('pt', 'header.nav.wishlist', 'Lista de Desejos') ON DUPLICATE KEY
UPDATE text =
VALUES
    (text);

-- Profile Section Translations
INSERT INTO
    traduz (lang_code, code, text)
VALUES
    ('gb', 'profile.header.title', 'My Account'),
    ('pt', 'profile.header.title', 'A Minha Conta'),
    ('gb', 'profile.menu.dashboard', 'Dashboard'),
    ('pt', 'profile.menu.dashboard', 'Painel'),
    ('gb', 'profile.menu.orders', 'Orders'),
    ('pt', 'profile.menu.orders', 'Encomendas'),
    ('gb', 'profile.menu.settings', 'Settings'),
    ('pt', 'profile.menu.settings', 'Definições'),
    (
        'gb',
        'profile.stats.total_orders',
        'Total Orders'
    ),
    (
        'pt',
        'profile.stats.total_orders',
        'Total Encomendas'
    ),
    ('gb', 'profile.stats.total_spent', 'Total Spent'),
    ('pt', 'profile.stats.total_spent', 'Total Gasto'),
    (
        'gb',
        'profile.settings.personal_info',
        'Personal Information'
    ),
    (
        'pt',
        'profile.settings.personal_info',
        'Informação Pessoal'
    ),
    (
        'gb',
        'profile.settings.security',
        'Security & Password'
    ),
    (
        'pt',
        'profile.settings.security',
        'Segurança e Password'
    ),
    ('gb', 'profile.settings.first_name', 'First Name'),
    ('pt', 'profile.settings.first_name', 'Nome'),
    ('gb', 'profile.settings.last_name', 'Last Name'),
    ('pt', 'profile.settings.last_name', 'Apelido'),
    ('gb', 'profile.settings.email', 'Email Address'),
    (
        'pt',
        'profile.settings.email',
        'Endereço de Email'
    ),
    (
        'gb',
        'profile.settings.current_password',
        'Current Password'
    ),
    (
        'pt',
        'profile.settings.current_password',
        'Password Atual'
    ),
    (
        'gb',
        'profile.settings.new_password',
        'New Password'
    ),
    (
        'pt',
        'profile.settings.new_password',
        'Nova Password'
    ),
    (
        'gb',
        'profile.settings.confirm_password',
        'Confirm New Password'
    ),
    (
        'pt',
        'profile.settings.confirm_password',
        'Confirmar Nova Password'
    ),
    ('gb', 'profile.settings.btn_save', 'Save Changes'),
    (
        'pt',
        'profile.settings.btn_save',
        'Guardar Alterações'
    ),
    ('gb', 'profile.orders.table.id', 'Order #'),
    ('pt', 'profile.orders.table.id', 'Encomenda #'),
    ('gb', 'profile.orders.table.date', 'Date'),
    ('pt', 'profile.orders.table.date', 'Data'),
    ('gb', 'profile.orders.table.total', 'Total'),
    ('pt', 'profile.orders.table.total', 'Total'),
    ('gb', 'profile.orders.table.status', 'Status'),
    ('pt', 'profile.orders.table.status', 'Estado'),
    ('gb', 'profile.orders.table.actions', 'Actions'),
    ('pt', 'profile.orders.table.actions', 'Ações'),
    (
        'gb',
        'profile.orders.view_details',
        'View Details'
    ),
    (
        'pt',
        'profile.orders.view_details',
        'Ver Detalhes'
    ),
    (
        'gb',
        'profile.orders.empty',
        'You haven\'t placed any orders yet.'
    ),
    (
        'pt',
        'profile.orders.empty',
        'Ainda não realizou nenhuma encomenda.'
    ) ON DUPLICATE KEY
UPDATE text =
VALUES
    (text);

-- Profile Polish Translations
INSERT INTO
    traduz (lang_code, code, text)
VALUES
    ('gb', 'profile.dashboard.greeting', 'Hello'),
    ('pt', 'profile.dashboard.greeting', 'Olá'),
    (
        'gb',
        'profile.dashboard.member_since',
        'Member since'
    ),
    (
        'pt',
        'profile.dashboard.member_since',
        'Membro desde'
    ),
    (
        'gb',
        'profile.dashboard.recent_orders',
        'Recent Orders'
    ),
    (
        'pt',
        'profile.dashboard.recent_orders',
        'Encomendas Recentes'
    ),
    (
        'gb',
        'profile.orders.shipping_address',
        'Shipping Address'
    ),
    (
        'pt',
        'profile.orders.shipping_address',
        'Morada de Envio'
    ),
    ('gb', 'profile.orders.btn_shop', 'Start Shopping'),
    (
        'pt',
        'profile.orders.btn_shop',
        'Começar a Comprar'
    ),
    ('gb', 'profile.settings.mobile', 'Mobile Number'),
    ('pt', 'profile.settings.mobile', 'Telemóvel'),
    ('gb', 'profile.orders.items', 'Items'),
    ('pt', 'profile.orders.items', 'Itens') ON DUPLICATE KEY
UPDATE text =
VALUES
    (text);

-- Forgot Password System Tables
CREATE TABLE
    IF NOT EXISTS settings (
        id INT AUTO_INCREMENT PRIMARY KEY,
        settings_key VARCHAR(100) NOT NULL UNIQUE,
        settings_value TEXT,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    );

CREATE TABLE
    IF NOT EXISTS password_resets (
        id INT AUTO_INCREMENT PRIMARY KEY,
        user_id INT NOT NULL,
        token_hash VARCHAR(255) NOT NULL,
        expires_at DATETIME NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        ip_address VARCHAR(45),
        INDEX (token_hash),
        INDEX (user_id)
    );

INSERT IGNORE INTO settings (settings_key, settings_value)
VALUES
    ('smtp_host', ''),
    ('smtp_port', '587'),
    ('smtp_user', ''),
    ('smtp_pass', ''),
    ('smtp_encryption', 'tls'),
    ('smtp_from_email', ''),
    ('smtp_from_name', '');